[buildout]
develop = .
parts = eggdeps test

[eggdeps]
recipe = zc.recipe.egg
interpreter = py
eggs = tl.eggdeps

# The following example arguments turn on dot file output and printing of
# version numbers, turn off extras, and make the setuptools egg be ignored:
#
# arguments = dot=True, version_numbers=True, extras=False,
#             ignore=["setuptools"]

[test]
recipe = zc.recipe.testrunner
eggs = tl.eggdeps [test]
defaults = ["-v", "-c", "-s", "tl"]
